main {
    width: 100%;
    margin-top: 2rem;
    text-align: center;
}

mat-card, app-photos {
    margin: auto;
    width: 40%;
    display: block;
    margin-top: 1rem;
}
mat-form-field, input{
    width: 100%;
}

.SubmitBoton{
    display: block;
    width: 100%;
}